@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap');
@import 'normalize.css';
@import 'form.css';

:root {
	--bg-color: steelblue;
	--primary-color: hsl(210, 30%, 30%);
}

/* Fonts */

body {
	font-family: 'Mukta', sans-serif;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: var(--bg-color);
}
